<footer>
    <div class='footer'>
        Copyright @ Alice's Work 2023
    </div>
</footer>

<style>
    .footer {
        background: linear-gradient(to top, rgb(193, 189, 189), white);
       text-align: center;
       padding: 7%;
       margin-top: auto;
    }
</style>

